In [ ]:
import pandas as pd

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
seriais_2019_2020 = pd.read_csv('arquivo2019_2020.csv', encoding = "ISO-8859-1", low_memory=False, sep=';')

In [ ]:
seriais_2021 = pd.read_csv('arquivo2021.csv', encoding = "ISO-8859-1", low_memory=False, sep=';', header=0, index_col=False)

In [ ]:
seriais2_2021 = pd.read_csv('arquivo2.csv', encoding = "ISO-8859-1", low_memory=False, sep=';', header=0, index_col=False)

In [ ]:
#seriais_2019_2020.head()
#seriais_2021.head()

In [ ]:
seriais2_2021

In [ ]:
seriais_2019_2020.count()

In [ ]:
seriais2_2021.count()

In [ ]:
df_seriais = seriais_2019_2020.append(seriais_2021, ignore_index=True)

In [ ]:
df_seriais = df_seriais.append(seriais2_2021, ignore_index=True)

In [ ]:
df_seriais.head(10)

In [ ]:
df_seriais.count()

In [ ]:
#print(df_seriais['IDT_SERIAL_REP'].isnull().sum())

In [ ]:
#df_seriais['IDT_SERIAL_REP'] = df_seriais.IDT_SERIAL_REP.fillna('')
#print(df_seriais['IDT_SERIAL_REP'].isnull().sum())

0

In [ ]:
#df_seriais.count()

In [ ]:
df_seriais.columns

In [ ]:
df_seriais.to_csv(r'completo.csv', index=None, sep = ';' , mode='a')

In [ ]:
C0 = df_seriais.columns[0]
C1 = df_seriais.columns[1]
C2 = df_seriais.columns[2]
C3 = df_seriais.columns[3]
C4 = df_seriais.columns[4]
C5 = df_seriais.columns[5]
C6 = df_seriais.columns[6]
C7 = df_seriais.columns[7]
C8 = df_seriais.columns[8]
C9 = df_seriais.columns[9]

In [ ]:
sql1 = 'insert into schema.tabela'
print(sql1)

In [ ]:
#@title Default title text
for indice, l in df_seriais.iterrows():
    print(sql1+ ''' ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}') VALUES ( {}, {}, {}, {}, '{}', '{}', '{}', '{}', '{}', {});'''
          .format(C0, C1, C2, C3, C4, C5, C6, C7, C8, C9, l['col1'], l['col2'], l['col3'], l['col4'], l['col5'], l['col6'], l['col7'], l['col8'], l['col9'], l['col10']))
    break

In [ ]:
df_seriais.to_csv(r'completo.sql', header=None, index=None, sep=',', mode='a')